.kutu1{
    width: 400px;
    height: 400px;
    background-color: red;
    border: 10px blue solid;
    background-clip: content-box;
    padding: 25px;
    box-sizing: border-box;
}
.kutu2{
    width: 400px;
    height: 400px;
    background-color: red;
    border: 10px blue solid;
    background-clip: content-box;
    padding: 25px;
    box-sizing: content-box;
}